In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
welding_data = pd.read_excel("./data/Welding Data Set_01.xlsx")

In [3]:
welding_data.head()

,idx,Machine_Name,Item No,working time,Thickness 1(mm),Thickness 2(mm),weld force(bar),weld current(kA),weld Voltage(v),weld time(ms)
0,1,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.33,14.57,2.701,72.0
1,2,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.36,14.57,2.701,72.0
2,3,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.37,14.54,2.703,71.0
3,4,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.37,14.54,2.703,72.0
4,5,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.36,14.56,2.704,72.0

In [5]:
welding_data.set_index('idx')

,Machine_Name,Item No,working time,Thickness 1(mm),Thickness 2(mm),weld force(bar),weld current(kA),weld Voltage(v),weld time(ms)
idx,,,,,,,,,
1,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.33,14.57,2.701,72.0
2,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.36,14.57,2.701,72.0
3,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.37,14.54,2.703,71.0
4,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.37,14.54,2.703,72.0
5,Spot-01,65235-25800,2020-03-24,0.7,0.7,2.36,14.56,2.704,72.0
...,...,...,...,...,...,...,...,...,...
665,Spot-01,65235-25800,2020-04-07,0.7,0.7,2.37,14.55,2.702,72.0
666,Spot-01,65235-25800,2020-04-07,0.7,0.7,2.37,14.60,2.712,72.0
667,Spot-01,65235-25800,2020-04-07,0.7,0.7,2.37,14.60,2.712,71.0
668,Spot-01,65235-25800,2020-04-07,0.7,0.7,2.35,14.53,2.712,71.0
669,Spot-01,65235-25800,2020-04-07,0.7,0.7,2.35,14.53,2.712,71.0

In [7]:
welding_data.describe()

,idx,Thickness 1(mm),Thickness 2(mm),weld force(bar),weld current(kA),weld Voltage(v),weld time(ms)
count,11939.000000,11939.0,11939.0,11939.000000,11939.000000,11939.000000,11939.000000
mean,732.280761,0.7,0.7,2.787925,14.711208,2.704223,71.724123
std,481.996313,0.0,0.0,1.455966,0.099000,0.024700,0.632049
min,1.000000,0.7,0.7,1.740000,14.520000,2.464000,70.000000
25%,332.000000,0.7,0.7,2.310000,14.610000,2.699000,71.000000
50%,664.000000,0.7,0.7,2.340000,14.730000,2.702000,72.000000
75%,1081.000000,0.7,0.7,2.370000,14.750000,2.706000,72.000000
max,2000.000000,0.7,0.7,10.540000,15.070000,2.861000,73.000000

In [8]:
welding_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11939 entries, 0 to 11938
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   idx               11939 non-null  int64
 1   Machine_Name      11939 non-null  object
 2   Item No           11939 non-null  object
 3   working time      11939 non-null  datetime64[ns]
 4   Thickness 1(mm)   11939 non-null  float64
 5   Thickness 2(mm)   11939 non-null  float64
 6   weld force(bar)   11939 non-null  float64
 7   weld current(kA)  11939 non-null  float64
 8   weld Voltage(v)   11939 non-null  float64
 9   weld time(ms)     11939 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 932.9+ KB

In [10]:
welding_data.corr()

,idx,Thickness 1(mm),Thickness 2(mm),weld force(bar),weld current(kA),weld Voltage(v),weld time(ms)
idx,1.000000,NaN,NaN,0.168572,0.134936,0.076139,-0.002417
Thickness 1(mm),NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thickness 2(mm),NaN,NaN,NaN,NaN,NaN,NaN,NaN
weld force(bar),0.168572,NaN,NaN,1.000000,0.411675,0.133876,-0.005557
weld current(kA),0.134936,NaN,NaN,0.411675,1.000000,0.129596,-0.020933
weld Voltage(v),0.076139,NaN,NaN,0.133876,0.129596,1.000000,0.010169
weld time(ms),-0.002417,NaN,NaN,-0.005557,-0.020933,0.010169,1.000000

In [ ]:
# histogram